@model IEnumerable<MVC_DBGym.Models.Coach>

@{
    ViewData["Title"] = "CoachesList";
}

<h1>CoachesList</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CoachName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speciality)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CoachName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speciality)
            </td>
            <td>
                    <a asp-action="Edit_Coaches" asp-route-id="@item.CoachID" class="btn btn-info">Edit</a> |
                    <a asp-action="Delete_Coach" asp-route-id="@item.CoachID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
