@model IEnumerable<MVC_DBGym.Models.Course>

@{
    ViewData["Title"] = "CoursesList";
}

<h1>CoursesList</h1>


<p>
    <a asp-action="CreateCourses">新增課程</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coach)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coach.CoachName)
            </td>
            <td>
                    <a asp-action="Edit_Courses" asp-route-id="@item.CourseID" class="btn btn-info">Edit</a> |
                    <a asp-action="Delete_Course" asp-route-id="@item.CourseID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="IndexAdmin">返回</a>
</div>