@model IEnumerable<MVC_DBGym.Models.Member>

@{
    ViewData["Title"] = "MembersList";
}

<h1>會員列表</h1>

<p>
    <a asp-action="CreateMembers">新增會員</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoinDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoinDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                    <a asp-action="Edit_Members" asp-route-id="@item.MemberID" class="btn btn-info">Edit</a> |
                    <a asp-action="Delete_Member" asp-route-id="@item.MemberID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="IndexAdmin">返回</a>
</div>
