@model IEnumerable<MVC_DBGym.Models.Course>


@{
    ViewData["Title"] = "Reserve";
    var mid = ViewBag.MemberID;
}

<h1>預約課程</h1>

@if (TempData["Enrollmsg"] != null)
{
    <div class="alert alert-success">
        @TempData["Enrollmsg"]
    </div>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coach)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coach.CoachName)
            </td>
            <td>
                    <form asp-action="ReserveCourse" method="post">
                        <input type="hidden" name="MemberID" value="@mid" />
                        <input type="hidden" name="CourseID" value="@item.CourseID" />
                        <button type="submit" class="btn btn-success">選課</button>
                    </form>
            </td>
              
        
            </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="IndexMember">返回</a>
    <a asp-controller="Pay" asp-action="MyReservations" asp-route-memberId="@mid">查看我的預約與付款狀態</a>
</div>