@model IEnumerable<MVC_DBGym.Models.Payment>

@{
    ViewData["Title"] = "Payment";
}

<h1>Payment</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.PaymentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member.MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member.MemberID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.CourseName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayDate)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.MemberName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MemberID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PType.PTypeID)
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-controller="DBGymSystem" asp-action="IndexAdmin">返回</a>
</div>